{% extends "layout.html" %}
{% block body %}

<div class="container body-content">

    <h2>{{chapter.name}}</h2>
    
    <hr/>
    <p>
        {% if chapter.prev_chapter %}
            <a class="btn btn-primary" href="/books/chapter/{{chapter.book_name}}/{{chapter.prev_chapter}}" role="button">Previous</a>
            
        {% endif %}

        <a href="/books/details/{{chapter.book_name}}">Back to List</a>

        {% if chapter.next_chapter %}
            <a class="btn btn-primary" href="/books/chapter/{{chapter.book_name}}/{{chapter.next_chapter}}" role="button">Next</a>
        {% endif %}
    </p>

<hr/>
    {% for image_name in chapter.img_names %}
        <img class="img-responsive" src="/books/img/{{chapter.book_name}}/{{chapter.name}}/{{image_name}}">
    {% endfor %}

<hr/>
    <p>
        {% if chapter.prev_chapter %}
            <a class="btn btn-primary" href="/books/chapter/{{chapter.book_name}}/{{chapter.prev_chapter}}" role="button">Previous</a>
            
        {% endif %}

        <a href="/books/details/{{chapter.book_name}}">Back to List</a>

        {% if chapter.next_chapter %}
            <a class="btn btn-primary" href="/books/chapter/{{chapter.book_name}}/{{chapter.next_chapter}}" role="button">Next</a>
        {% endif %}
    </p>

</div>

{% endblock %}