 <div class="container">

  <form class="form-signin" action="{{url_for('account.login')}}" method="post" enctype="multipart/form-data">
    <h2 class="form-signin-heading">Please login</h2>
    <div class="form-group">
        <input class="form-control text-box single-line" name="name" type="text" required value="" placeholder="Name"/>
        <input class="form-control text-box single-line" name="password" type="password" required value="" placeholder="Password" />
    </div>
    <div class="form-group">
        <a href="mailto:ppscan@qq.com?subject=I%20want%20to%20share%20my%20ideas%20with%20OpenComic%20guys">Apply for account</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </div>
  </form>

</div>