
{% set title = 'Open Comic' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block head %}{% endblock %}

  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>

    {% if 'account_name' in session %}

    <div class="container">
      <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('books.index')}}">{{ title }}</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                  {% set nav_pages = [(url_for('books.index'), 'Books'), 
                                      (url_for('book_mgr.index'), 'Book Manage'), 
                                      (url_for('crawler_mgr.index'), 'Crawler Manage')] %}
                                      
                  {% for href, caption in nav_pages %}
                   <li{% if href == request.path %} class="active" {% endif %}><a href="{{ href }}">{{ caption }}</a></li>
                  {% endfor %}

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="glyphicon-class">{{ session['account_name'] }}</span> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{url_for('account.edit')}}">Settings</a></li>
                        <li><a href="#" onclick="document.forms['account-logout-form'].submit(); return false;">Logout</a></li>
                      </ul>
                    </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>

        <form id="account-logout-form" action="{{url_for('account.logout')}}" method="post" enctype="multipart/form-data" >
        </form>

      {% block body %}{% endblock %}

        <hr>

        <footer>
            <p>© 2016 - {{ title }}</p>
        </footer>

      </div>

    {% else %}

      {% include "account/login.html" %}

    {% endif %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"> </script>

  </body>
</html>