{% extends "layout.html" %}
{% block body %}

<div class="container body-content">

    <h2>{{chapter.name}}</h2>
    
    <a href="{{url_for('.details', name=chapter.book_name)}}">Back to List</a>

    <hr/>

    <nav>
      <ul class="pager">
        {% if chapter.prev_chapter %}
            <li class="previous"><a href="{{url_for('.chapter', book=chapter.book_name, name=chapter.prev_chapter)}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}

        {% if chapter.next_chapter %}
            <li class="next"><a href="{{url_for('.chapter', book=chapter.book_name, name=chapter.next_chapter)}}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}            
      </ul>
    </nav>


    {% for image_name in chapter.img_names %}
        <img class="img-responsive" src="/static/img/loading.gif" data-src="{{url_for('.img', book=chapter.book_name, chapter=chapter.name, name=image_name)}}" />
    {% endfor %}

    <nav>
      <ul class="pager">
        {% if chapter.prev_chapter %}
            <li class="previous"><a href="{{url_for('.chapter', book=chapter.book_name, name=chapter.prev_chapter)}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}

        {% if chapter.next_chapter %}
            <li class="next"><a href="{{url_for('.chapter', book=chapter.book_name, name=chapter.next_chapter)}}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}            
      </ul>
    </nav>

    <hr/>

    <a href="{{url_for('.details', name=chapter.book_name)}}">Back to List</a>

</div>

<script src="/static/js/jquery.unveil.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $("img").unveil(200);
    });
</script>

{% endblock %}