{% extends "layout.html" %}
{% block body %}

<div class="container body-content">
        


<h2>{{book.name}}</h2>
<a href="{{url_for('.index')}}">Back to List</a>

    <table class="table table-striped table-hover">
    <tbody>

    <tr>
        <th></th>
        <th>Chapter</th>
    </tr>

    {% for chapter in book.chapters %}
        <tr onclick="window.document.location='{{url_for('.chapter', book=book.name, name=chapter.name)}}';">
            <td> <img class="thumbnail" src="{{url_for('.img', book=book.name, chapter=chapter.name, name=chapter.first_page)}}" width="64" height="64"> </td>
            <td> 
                <h3> 
                    <a href="#">{{chapter.name}} </a>  
                    {% if chapter.is_new %} <small><span class="label label-success">New</span></small> {% endif %}
                </h3> 
            </td>
        </tr>
    {% endfor %}

</tbody></table>

<a href="{{url_for('.index')}}">Back to List</a>
    </div>

{% endblock %}