{% extends "layout.html" %}


{% block body %}
  
<div class="container body-content">

<h2>Create</h2>

<form id="mainform" action="{{url_for('.create')}}" method="post" enctype="multipart/form-data" >
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" name="name" type="text" required value="" placeholder="Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="description">Description</label>
            <div class="col-md-10">
                <input class="form-control text-box" name="description" type="text" maxlength="64" value="" placeholder="Description" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="thumbnail">Thumbnail</label>
            <div class="col-md-10">
                <input type="file" name="thumbnail" id="thumbnail" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="directory_url">Directory Url</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" name="directory_url" type="url" required value="" placeholder="Directory Url"  />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="crawler_name">Crawler</label>
            <div class="col-md-10">
                <select name="crawler_name" id="crawler_name" class="form-control">
                {% for name in crawler_names %}
                    <option>{{ name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<p>
    <a href="{{url_for('.index')}}">Back to List</a>
</p>

    </div>


{% endblock %}