{% extends "layout.html" %}


{% block body %}
  
<div class="container body-content">

<h2>Details</h2>
<hr/>
 <div>
    <h4>Book</h4>
    <hr>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{book.name}}</dd>
        <dt>Description</dt>
        <dd>{{book.description}}</dd>
        <dt>DirectoryUrl</dt>
        <dd>{{book.directory_url}}</dd>
        <dt>Crawler</dt>
        <dd>{{book.crawler_name}}</dd>
        <dt>Thumbnail</dt>
        <dd><img class="img-thumbnail" src="{{url_for('.thumbnail', name=book.thumbnail_filename)}}"></dd>
        <dt>Excluded Chapters</dt>
        <dd><pre>{{book.exclude_chapters}}</pre></dd>
    </dl>
</div>
<hr/>
<p>
    <a class="btn btn-primary" href="{{url_for('.edit', name=book.name)}}">Edit</a>
    <a href="{{url_for('.index')}}">Back to List</a>
</p>

    </div>

{% endblock %}