{% extends "layout.html" %}


{% block body %}
  
<div class="container body-content">

<h2>Edit</h2>
<hr/>
<form id="mainform" action="{{url_for('.edit_confirmed', name=book.name)}}" method="post" enctype="multipart/form-data" >
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" name="name" type="text" disabled value="{{book.name}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="description">Description</label>
            <div class="col-md-10">
                <input class="form-control text-box" name="description" type="text" maxlength="64" value="{{book.description}}" placeholder="Description"  />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="directory_url">Directory Url</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" name="directory_url" type="url" required value="{{book.directory_url}}" placeholder="Directory Url" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="crawler_name">Crawler</label>
            <div class="col-md-10">
                <select name="crawler_name" id="crawler_name" class="form-control">
                {% for name in crawler_names %}
                    {% if name == book.crawler_name %}
                        <option selected="selected">{{ name }}</option>
                    {% else %}
                        <option>{{ name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="thumbnail">Thumbnail</label>
            <div class="col-md-10">
                <input type="file" name="thumbnail" id="thumbnail">
                <dd><img id="thumbnail_img" class="img-thumbnail" src="{{url_for('.thumbnail', name=book.thumbnail_filename)}}"></dd>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="exclude_chapters">Excluded Chapters</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" name="exclude_chapters" placeholder="Excluded Chapters" >{{book.exclude_chapters}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr/>
    <p>
        <a href="{{url_for('.index')}}">Back to List</a>
    </p>

    </div>

    <script type="text/javascript">

        $("#thumbnail").change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#thumbnail_img').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

    </script>

{% endblock %}