{% extends "layout.html" %}
{% block body %}

<div class="container body-content">
        

<h2>Book</h2>
<hr/>
    <p>
        <a class="btn btn-default" href="{{url_for('.create')}}">Create New</a>
    </p>
    <table class="table table-striped table-hover">
    <tbody>

    <tr>
        <th>Name</th>
        <th>DirectoryUrl</th>
        <th>Crawler</th>
        <th></th>
    </tr>

    {% for book in books %}
        <tr>
            <td> {{book.name}} </td>
            <td> {{book.directory_url}} </td>
            <td> {{book.crawler_name}} </td>
            <td>
                <a class="btn btn-default crawl-link" data-loading-text="Crawling..." data-url="{{url_for('crawler_ctrl.force_crawl_book', name=book.name)}}" href="#">Crawl</a>
                <a class="btn btn-primary" href="{{url_for('.edit', name=book.name)}}">Edit</a>
                <a class="btn btn-info" href="{{url_for('.details', name=book.name)}}">Details</a>
                <a class="btn btn-danger" href="{{url_for('.delete', name=book.name)}}">Delete</a>
            </td>
        </tr>
    {% endfor %}

</tbody></table>

</div>

<script type="text/javascript">
    $('.crawl-link').click(function(e) {
        e.preventDefault();
        
        var btn = $(this);
        btn.button('loading');
        $.post(btn.attr('data-url'), {}, function(data) {
            btn.button('reset');
        });
    });
</script>

{% endblock %}